
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}


{% block content %}
<h2><a href="{% url 'post_list' %}">Все публикации</a></h2>
<hr>
<h2>{{ post.title|censor }}</h2>
<h5>{{ post.timeCreation|date:'d M Y' }}</h5>
<h5>{{ post.author.authorUser}}</h5>
<small class="fw-bold">категории:
        {% for category in post.postCategory.all %}
             {{category.name}}
        {% endfor %}
      </small>
<article>{{ post.text|censor }}</article>


{% if perms.news.change_post and user.author == post.author %}
<a href="{% url 'post_edit' post.id %}">Изменить публикацию</a>
{% endif %}

{% if perms.news.delete_post and user.author == post.author %}
<a href="{% url 'post_delete' post.id %}">Удалить публикацию</a>
{% endif %}


{% endblock content %}
